<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='halls.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/bf3303bc3f.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Manage Halls - CBS</title>
</head>
<body>
  <!-- LOGGED IN NAV -->
  <ul id="topNav">
    <li style="float: left"><a id="logo" href="http://localhost:5000/admin" title="Home">CBS</a></li>
    <li><a href="http://localhost:5000/logout" title="Logout">Logout <i class="fas fa-sign-in-alt"></i></a></li>
    <li><a href="http://localhost:5000/profile" title="Profile">{{ g.user.email }} <i class="fas fa-user"></i></a><li>
    <li><a href="http://localhost:5000/admin" title="Home">Home <i class="fas fa-home"></i></a></li>
  </ul>

  {% for message in get_flashed_messages() %}
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong> {{message}} </strong>
  </div>
  {% endfor %}

<div class="main">
  <ul id="manageNav">
  <li class=""><a href="http://localhost:5000/addMovie">Add Movie</a></li>
  <!-- <li><a href="http://localhost:5000/manageShowtimes">Manage Showtimes</a></li> -->
  <li class="active"><a href="http://localhost:5000/halls">Manage Halls</a></li>
  <li><a href="http://localhost:5000/manageUsers">Manage Users</a></li>
  <li><a href="http://localhost:5000/report">View Report</a></li>
  <li><a href="http://localhost:5000/addPromo">Add Promotions</a></li>
</ul>
  </body>
  <div id="container">
    <div id="addHeader">
      Manage Halls
      </div
      <br>
  <form id="showtime" action="/admin.html" method="post">
    Select Movie:
    <select class="" name="movies">
      <option disabled selected value> -- Select an option -- </option>
      <option value="">Joker</option>
      <option value="">IT: Chapter 2 (2019)</option>
      <option value="">The Lion King</option>
      <option value="">Ad Astra</option>
      <option value="">Good Boys (2019)</option>
      <option value="">Spiderman: Far From Home</option>
      <option value="">Hustlers</option>
      <option value="">The Goldfinch</option>
    </select>
    <br><br>
    Select Room:
    <select class="" name="room">
      <option disabled selected value> -- Select an option -- </option>
      <option value="">1</option>
      <option value="">2</option>
      <option value="">3</option>
      <option value="">4</option>
      <option value="">5</option>
      <option value="">6</option>
      <option value="">7</option>
      <option value="">8</option>
      <option value="">9</option>
      <option value="">10</option>
    </select>
    <br><br>
    Select Screen:
    <select class="" name="room">
      <option disabled selected value> -- Select an option -- </option>
      <option value="">RPX</option>
      <option value="">Standard</option>
      <option value="">3D</option>
      <option value="">IMAX</option>
      <option value="">IMAX-3D</option>
    </select>
    <br><br>
    <input class="submitButton" type="submit" value="Update Hall">

    </form>
</html>
