<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='regConfirm.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/bf3303bc3f.js" crossorigin="anonymous"></script>

  <title>Login - CBS</title>
</head>
<body>
    <ul id="topNav">
        <li style="float: left"><a id="logo" href="http://localhost:5000/" title="Home">CBS</a></li>
        <li><a href="http://localhost:5000/login" title="Login">Login <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="http://localhost:5000/" title="Home">Home <i class="fas fa-home"></i></a></li>
      </ul>
  <div id="loginDiv">
    <div id="loginHeader">
      Registration Confirmation
    </div>
    <p>Thank you for registering with CBS! You will recieve a confirmation email shortly with instructions on how to complete your registration process and recieve your unique User ID.</p>
    <br><br>
    <!-- <a href="#">Resend Email</a> -->
  </div>
</body>
</html>
