<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='register.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Register - CBS</title>

  <script src="https://kit.fontawesome.com/bf3303bc3f.js" crossorigin="anonymous"></script>
  <script src="js/register.js" type="text/javascript"></script>
</head>

<body>
    <ul id="topNav">
        <li style="float: left"><a id="logo" href="http://localhost:5000/" title="Home">CBS</a></li>
        <li><a href="http://localhost:5000/login" title="Login">Login <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="http://localhost:5000/" title="Home">Home <i class="fas fa-home"></i></a></li>
      </ul>
  {% for message in get_flashed_messages() %}
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong> {{message}} </strong>
    </div>
  {% endfor %}
  <div class="register">

    <div class="main">
      <h1 class="regHeader">Register</h1>
      <h4 class="regIns">Fill in the following information to register an account</h4>
      <form class="loginForm row" action="http://localhost:5000/registered" method="post">
        <div class="row ml-1">
          <div class="left col-4">
            <h3>Personal Information</h3>
            <label for="email">Email*</label>
            <input class="mb-2" type="text" name="email" required >
            <label for="firstname">First Name*</label>
            <input class="mb-2" type="text" name="firstname" required >
            <label for="lastname">Last Name*</label>
            <input class="mb-2" type="text" name="lastname" required >
            <label for="password">Password*</label>
            <input class="mb-2" id="password" type="password" name="password" required >
            <label for="repassword">Confirm Password*</label>
            <input class="mb-2" id="confirm_password" type="password" name="repassword" required >
          </div>
          <div class="col-4" id="middle" style="display: none">
            <div class="">
              <h3>Billing Address</h3>
              <label for="fname">Full Name*</label>
              <input class="mb-2" type="text" id="fname" name="fullname">
              <label for="adr">Address*</label>
              <input class="mb-2" type="text" id="adr" name="address">
              <label for="city">City*</label>
              <input class="mb-2" type="text" id="city" name="city" placeholder="Atlanta">

              <div class="row" style="width: 103%;">
                <div class="col-6">
                  <label for="state">State*</label>
                  <input type="text" id="state" name="state" placeholder="GA">
                </div>
                <div class="col-6">
                  <label for="zip">Billing ZIP Code*</label>
                  <input type="text" id="zip" name="zip" placeholder="30301">
                </div>
              </div>
            </div>
          </div>

          <div class="col-4" id="right" style="display: none">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fab fa-cc-visa" style="color:navy;"></i>
              <i class="fab fa-cc-amex" style="color:blue;"></i>
              <i class="fab fa-cc-mastercard" style="color:red;"></i>
              <i class="fab fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Name on Card*</label>
            <input class="mb-2" type="text" id="cname" name="cardname">
            <label for="ccnum">Credit card number*</label>
            <input class="mb-2" type="text" id="ccnum" name="cardnumber">
            <div class="row" style="width: 102%;">
              <div class="col-4">
                <label for="expmonth">Month*</label>
                <!-- <input class="mb-2" type="text" id="expmonth" name="expmonth" placeholder="June"> -->
                <select class="mb-2" name="expmonth" id="expmonth">
                  <option class="mb-2" disabled selected value>Select</option>
                  <option class="mb-2" value="JAN">JAN</option>
                  <option class="mb-2" value="FEB">FEB</option>
                  <option class="mb-2" value="MAR">MAR</option>
                  <option class="mb-2" value="APR">APR</option>
                  <option class="mb-2" value="MAY">MAY</option>
                  <option class="mb-2" value="JUN">JUN</option>
                  <option class="mb-2" value="JUL">JUL</option>
                  <option class="mb-2" value="AUG">AUG</option>
                  <option class="mb-2" value="SEP">SEP</option>
                  <option class="mb-2" value="OCT">OCT</option>
                  <option class="mb-2" value="NOV">NOV</option>
                  <option class="mb-2" value="DEC">DEC</option>
                </select>
              </div>
              <div class="col-4">
                <label for="expyear">Exp. Year*</label>
                <input class="mb-2" type="text" id="expyear" name="expyear" placeholder="2020">
              </div>
              <div class="col-4">
                <label for="cvv">CVV*</label>
                <input class="mb-2" type="text" id="cvv" name="cvv" placeholder="CVV">
              </div>
            </div>
          </div>
        </div>
        <input class="check" type="checkbox" name="subscription" value="Yes"><span class="mt-3">I would like to subscribe to a promotional newsletter</span><br>
        <input class="check" type="checkbox" name="billing" id="billing" onclick="billingInfo()"><span class="mt-3">Add billing information now</span><br>
        <div class="buttons">
          <input class="submitButton col-3 ml-3 mr-2" type="submit" value="Register" class="btn">
          <a class="col-4 login-option" href="http://localhost:5000/login">Already have an account? Login Here</a>
        </div>
        <div class="mt-3 mb-1 row">
          <a class="col-3 ml-3 login-option" href="http://localhost:5000/">Cancel</a>
        </div>
      </form>
    </div>

  </div>

  <script src="{{ url_for('static', filename='js/register.js') }}" type="text/javascript"></script>
  <script type="text/javascript">
    var password = document.getElementById("password"),
      confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
      if (password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
  </script>

</body>

</html>
