body{
  background: url("movie-theater.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  position: fixed;
  width: 100%;
}

#topnavStart {
  width: 99%;
  top: 0;
  text-decoration: none;
  margin-top: 8px;
}

#topnavStart a {
  float: right;
  color: #edf2f4;
  font-weight: bold;
  text-decoration: none;
  padding: 7px;
}

#topnavStart a:hover {
  color: #8d99ae;
  transition: .2s;
}

#central {

}

#introHeader {
  font-weight: bolder;
  font-size: 6em;
  color: #edf2f4;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-shadow: 3px 3px 5px black;
  border-bottom: 2px solid #edf2f4;
  width: 37%;
}

#introP {
  color: #edf2f4;
  font-size: 2em;
  text-align: center;
}

#searchButton {
  background-color: #edf2f4;
  text-decoration: none;
  color: #2b2d42;
  font-size: 2em;
  padding: 20px 70px 20px 70px;
  border-radius: 70px;
  box-shadow: 5px 5px 10px #2b2d42;
  margin-left: 39.24%;
  margin-right: 39.24%;
}
